#header{
    font-size: 38px;
    background-color: yellow;
    padding: 10px;
    color: gray;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
   
   }
   
   body{
       margin: 0;
       padding: 0;
   }

   #note{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: lightyellow;
    border: 1px black solid;
   }