#header {
  font-size: 38px;
  background-color: yellow;
  padding: 10px;
  color: gray;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

body {
  margin: 0;
  padding: 0;
}

.notes {
  min-height: 100px;
  width: 100px;
  margin-left: 100px;
  margin-top: 100px;
  background-color: lightyellow;
  border: 1px black solid;
  position: relative;
}

.notesText:focus,
input:focus {
  outline: none;
}
.xButton:focus,
.xButton:active:focus,
.xButton.active:focus,
.xButton.focus,
.xButton:active.focus,
.xButton.active.focus {
  outline: none;
}

.xButton {
  position: absolute;
  right: 0;
  top: 0;
}

#notesDiv {
  width: 90%;
  margin: auto;
  align-content: center;
}

#boards {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 50px;
  border: 1px solid black;
}

#newNoteBtn {
  float: right;
  height: 100%;
  border-radius: 0;
}
